* {
  margin: 6px;
  padding: 3px;
  border-radius: 5px;
  color: white;
  background: black;
}

body {
  margin: auto;
  max-width: 760px; /* From display-markdown */
}

a {
  margin: 0px;
  padding: 0px;
}

/* Used on Home Page */
.grpSubjects {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pnlForms {
  position: relative;
  padding: 0px;
  margin: 0px;
}

.actual-form {
  display: none; /* Updated in form-open */
  opacity: 0; /* Updated in form-open */
  pointer-events: none; /* Updated in form-open */
  visibility: hidden; /* Updated in form-open */
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.form-open.actual-form {
  display:flex;
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}

.form-close {
  display: none;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.pnlStory {
  display:flex;
  flex-direction: column;
  align-items: center;
  width: 300px; /* For phone view */
}